@import url('https://fonts.googleapis.com/css?family=Roboto');

*, *::after, *::before { box-sizing:border-box; }
html{width: 100%;
height: 100%;
font-family: 'roboto';}

body{
	position:relative;

	background: #e1e1;
	z-index: 0;
}

#container{
display: flex;
flex-wrap: wrap;
max-width: 1000px;
margin:20px auto;
border:1px solid #e1e1e1;
box-shadow:0 0 35px rgba(0,0,0,0.1);
border-radius: 10px;
position:relative;
max-height: 100%;
z-index: 1;

}


/* HEADER */
/* W header{}Kombinuj z display flex w index2! */
header{
	
	position:relative;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a90329+0,8f0222+44,6d0019+100;Brown+Red+3D */
	background: #a90329; /* Old browsers */
    background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
	display: flex;
	width: 100%;
	max-height: 100%;
	z-index: 3;

}

header a{
	height: 100%;
}
/* wielkosc loga*/
img.logo{
	position:relative;
	height: auto;
	max-width: 100%;
	z-index: -1;




}

/* NAVIGATION */
nav {
	display: flex;
	flex-direction: row;
	align-items:flex-end;
	height: 100%;
	max-width: 100%;
	background: 
}

nav ul{
position:relative;
display: flex;
flex-wrap: wrap;
width: 131px;
margin:0 0 10px 0;
padding: 0;



}


nav li{
	display: flex;
	position: relative;
	display: inline-block;
	list-style-type: none;
	width: 100%;
	text-align: center;
	border: 2px #fff solid;
	margin:5px 5px;
	margin-right: 5px;
	transition: all .5s linear;
}

nav li:hover{
margin:2px;
}

nav li:last-child{
	display: inherit;
	width: 100%;
	border:none;
	margin-bottom: 20px;
}

nav a{
	color:#fff;
	background:transparent;
	display: inline-block;
	transition: all .3s ease;
	padding: 10px 20px;
	display: block;
	text-decoration: none;


}




	    nav li:nth-child(1) {order: 2; }
        nav li:nth-child(2) {order: 3; }
        nav li:nth-child(3) {order: 5; }
        nav li:nth-child(4) {order: 4; }
        nav li:nth-child(5) {order: 1; }
    

nav a:visited,
nav a:link{
	color:#fff;
}

nav a:hover{
	font-size: 18px;
	color:lightblue;
	background: #006C70;

}

a#Sign-In {
	-moz-box-shadow:inset 0px 1px 1px 0px #bee2f9;
	-webkit-box-shadow:inset 0px 1px 1px 0px #bee2f9;
	box-shadow:inset 0px 1px 1px 0px #bee2f9;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf));
	background:-moz-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
	background:-webkit-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
	background:-o-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
	background:-ms-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
	background:linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf',GradientType=0);
	background-color:#63b8ee;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #3866a3;
	display:inline-block;
	cursor:pointer;
	color:#14396a;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #7cacde;
	width: 100%;
	margin:0 auto;
}
a#Sign-In:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee));
	background:-moz-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
	background:-webkit-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
	background:-o-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
	background:-ms-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
	background:linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee',GradientType=0);
	background-color:#468ccf;
}
a#Sign-In:active {
	position:relative;
	top:1px;
}

.actived{
	background:#428bca;
}
.actived > #Sign-In{
	background: transparent;
	border:2px solid #fff;
	border-radius:0;
	box-shadow: none;
}


/* Main site */

main{
	display: flex;
	position: relative;
	top:10px;
	width: 100%;
	height: 100%;
	margin-bottom: 20px;
	padding: 20px;
	z-index: 10;
	overflow:hidden;
}




article{
	position:relative;
	height: 100%;
	width: 70%;
	margin-left: 10px;
	padding: 5px;
	z-index: 15;
	order:1;
}

aside{

	background: #e1e1e1;
	margin-bottom: 20px;
	padding:5px;
	margin:0 5px;
	position:relative;
	border:1px solid #e1e1e1;
	height: 100%;
	margin-right:  0px;
	width: 30%;
	z-index: 14;
	text-overflow: ellipsis;
	overflow-wrap: break-word;
	order:2;
}

/*Animation and mobile screens*/

/*@rotator{
	0%:;
}*/

@media only screen and (max-width: 375px) and (orientation:portrait){
	
#container{
	position: absolute;
	margin:0;
}
	header img{
		display: none;
	}

		nav{
			height: 100%;
			width: 100%;
			justify-content: center;
		}
	
				nav ul{
					width: 50%;
					height: auto;
				}
	
	aside{
		display: none;
	}
	article{
		width: 100%;
	}

}




